<a class="post--meta" href="/{{ post.uri }}">
    <i class="fa fa-calendar-o"></i> {{ post.created.format('d.m.Y') }}
</a>

<div class="post--meta">
    <strong>Categories</strong>:
    <ul class="fa-ul">
        {% for category in post.categories %}
            <li><i class="fa fa-li fa-inbox"></i> <a href="/category/{{ category }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="post--meta">
    <strong>Tags:</strong>
    <ul class="fa-ul">
        {% for tag in post.tags %}
            <li><i class="fa fa-li fa-tag"></i> <a href="/tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>