{% for post in posts %}
    <article>
        <h1 class="post--title"><a href="/{{ post.uri }}">{{ post.title }}</a></h1>
        <div class="content-block">
            <aside class="aside aside--right">
                {% include 'aside.html.twig' %}
            </aside>
        </div>
        {{ post.html()|raw }}
    </article>

    {% if not loop.last %}
        <hr class="post-separator"/>
    {% endif %}
{% endfor %}

{% if pagination is defined %}
<div class="row content-block">
    <div class="col-sm-6">
        {% if pagination.previousPage %}
            <a href="{{ pagination.previousPage }}" class="btn btn-link btn-block">&laquo; older</a>
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% if pagination.nextPage %}
            <a href="{{ pagination.nextPage }}" class="btn btn-link btn-block">newer &raquo;</a>
            {% endif %}
    </div>
</div>
{% endif %}